body{
    background-color:rgb(243, 239, 239);
    /*background-color:rgb(233, 229, 229);*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100hv;
    font-family: helvetica;

}

h1{
    color:burlywood;
    text-align: center;
};
.container{
    background-color:gray;
}
#app{
    background-color:white;
    width: 450px;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

input{
    border: none;   
    width: 300px;
    padding: 10px;
}

button{  
    background-color: white;
    border: none;
}
.ulclass{
    list-style: none;
    margin: 0rem;
    display: column;
    align-items: flex-start;
    width: 100%;

}
.liclass{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    background-color: white;
    width: 100%;
    margin: auto;
    padding: 10px 20px;
    

}
.spanclass{
    display: flex;
    justify-content: end;
}

.spanfinal{
    font-size: small;
    margin-left: 20px;
}